body {
	padding: 0;
	margin: 0;
	min-width: 960px;
	font-family: PT Sans Narrow, sans-serif ;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	background: #000 url("../img/background.png") no-repeat center top;
}

 .inner-page {
 	color: #000;
 	background: #f8f3f0 url("../img/pattern-white.png") repeat;
 }

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	
	/*for preventing margin fall out*/
	padding-top: 1px;

/*	background-color: rgba(100, 50, 50, 0.2);
*/}


.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	color: #ffffff;
	background-color: #000000;
	margin-bottom: 60px;

}

.inner-page .main-header{
	margin-bottom: 55px;
}

.main-navigation {
	float: left;
	width: 780px;
}

.main-navigation ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.main-navigation li{
	display: inline-block;
/*	margin-right: 20px;
	margin-left: 20px;*/
	

	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	padding: 25px 20px;
	text-decoration: none;
	color: #ffffff;
}

.main-navigation a:hover{
	background-color: #242424;
}

.main-navigation .active {
	position: relative;

	background-color: none;
}

.main-navigation .active a:hover {
	background: none;
}

.main-navigation .active::after {
	content: "";
	position: absolute;
	right: 20px;
	bottom: 0px;
	left: 20px;

	height: 5px;

	background-color: #fff;
}

.main-navigation .active span {
	display: block;
	padding: 25px 20px;
}

.main-navigation .logo-inner {
	float: left;
	width: 111px;
	height: 20px;
	padding-top: 22px;
}

.main-navigation .logo-inner img {
	width: 111px;
	height: 24px;
}

.main-navigation .logo-inner:hover {
	background: none;
}

.user-block {
	float: right;
	max-width: 140px;
 }

.login {
	position: relative;

	display: inline-block;
	padding: 25px 20px;
	padding-left: 50px;

	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	color: #fff;
	text-decoration: none;
}

.login:hover {
	background-color: #242424;
}

.login::before {
	content: '';
	position: absolute;
	top: 27px;
	left: 20px;

	width: 18px;
	height: 18px;

	background: /*#ff0000*/ url("../img/sprite2.png") no-repeat;
	background-position: 0px -155px;
	opacity: 0.3;
}

.login:hover::before {
	opacity: 1;
}

.index-logo {
	width: 368px;
	min-height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.index-logo img{
	width: 368px;
	height: 204px;
}
/*.user-block {
	position: relative;
	float: right;
	margin-right: 22px;
}

.user-block::before {
	position: absolute;
	top: 2px;
	left: -20px;
	content: url("../img/icon-login.png");

	background-repeat: no-repeat;
	z-index: 20;
	vertical-align: middle;
}

.user-block a {
	margin-left: 10px;	
}


.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 57px;
	margin-bottom: 25px;
}*/

.features {
	margin-bottom: 80px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	/*	margin-bottom: 65px;
*/	text-align: center;
	color: #f7f4f1;
}

.features-item p {
	/*line-height: 24px;*/
	margin: 10px;
	margin-bottom: 0;
}

.features-item:last-child {
	margin-right: 0;
}

.feature-name {
	position: relative;

	display: block;
	margin-bottom: 30px;
	padding-bottom: 35px;

	font-size: 30px;
	line-height: 42px;
}

.feature-name::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;

	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;

	background-color: #fff;
	transform: rotate(45deg);
}

.index-content {
	margin-bottom: 35px;
	padding: 50px 80px;
	padding-bottom: 54px;
	/*background-color: rgba(180, 30, 30, 0.3);*/
	color: #000;

	background: url("../img/index-content-shadow.png")
				no-repeat center, 
				#f8f5f2 url("../img/pattern-white.png");
}

.index-content-title {
	margin: 0;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 42px;
}

.index-content p {
	margin: 0;
	margin-bottom: 25px;
}

.index-content-left {
	float: left;
	width: 380px;
	margin-right: 60px;
}

.index-content-right {
	float: right;
	width: 300px;
	/*margin-right: 80px;*/
}



.news-preview {
	margin: 0;
	padding: 0;
	padding-right: 35px;

	list-style: none;	
}

.news-preview li {
	margin-bottom: 25px;
}

.news-preview p {
	margin-bottom: 0;
}

.news-preview time {
	text-transform: none;
	font-weight: 400;  
}


.btn {
	display: inline-block;
	padding: 10px 33px;
	margin-right: 16px;

	font-weight: 700;
	font-size: 14px; 
	line-height: 24px;
	font-family: PT Sans Narrow, sans-serif;

	vertical-align: top;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	/*width: 140px;*/
	border: none;
	outline: none;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn:hover,
.btn:active {
	background-color: #663d15;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #000;
}

.gallery {
	position: relative;

	height: 260px;
}

.gallery-content {
	/*height: 164px;*/
	margin: 0;

/*	background-color: #ccc;
	border: 7px solid #fff;*/
}

.gallery-content img {
	width: 143px;
	height: 82px;
	margin-right: 5px;
}

.gallery-live {
	position: relative;

	height: 260px;
}

.gallery-live .gallery-content {
	height: 164px;
	margin: 0;

	background-color: #ccc;
	border: 7px solid #fff;
}

.gallery-live .gallery-content a{
	position: absolute;
	top: 7px;
	left: 7px;
}

.gallery-live .gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery-live .btn {
	position: absolute;
	bottom: 0;

	width: 140px;
	margin: 0;
}

.gallery-live .gallery-prev {
	left: 0;
}

.gallery-live .gallery-next {
	right: 0;
}

.appointment-form input {
	float: left;
	width: 106px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 7px 15px;

	font: inherit;
	color: inherit;
	text-transform: inherit;

	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
}

.appointment-form input:focus {
	border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
	margin-right: 0;
}

.appointment-form .btn {
	clear: both;
	width: 100%;
}

/*стили внутренних страниц*/
.inner-page-title {
	margin-bottom: 55px;
}

.inner-page-title h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;

	list-style: none;
}

.breadcrumbs li {
	position: relative;

	display: inline;
	padding-right: 40px;
}

.breadcrumbs li:after {
	content: "";
	position: absolute;
	top: 4px;
	right: 18px;

	width: 8px;
	height: 8px;

	background-color: #000;
	transform: rotate(45deg);
}

.breadcrumbs a {
	color: #000;
	text-decoration: none;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

.breadcrumbs .current {
	color: #aba9a7;
}

.breadcrumbs .current::after {
	display: none;
}

/*общие стили для контентных тегов*/
.inner-content {
	margin-bottom: 75px;
}

.inner-content h2 {
	margin-top: 60px;
	margin-bottom: 30px;

	font-size: 24px;
	line-height: 30px; 
}

.inner-content h3 {
	margin-top: 60px;
	margin-bottom: 30px;

	font-size: 24px;
	line-height: 30px; 
}

.inner-content h2 + h3 {
	margin-top: 30px;
}

.inner-content p {
	margin: 14px 0;
}

.inner-content table {
	border-collapse: collapse;
}

.inner-content td {
	padding: 10px 15px;

	border: 2px solid #000;
}

/*особые стили для контентных тегов*/
.big-heading {
	margin-top: 55px;
	margin-bottom: 65px;

	text-align: center;
}

.big-heading h2 {
	position: relative;
	z-index: 2;

	display: inline-block;
	margin: 0;
	padding: 0 25px;

	font-size: 48px;
	line-height: 48px;
	text-align: center;

	background: #f8f3f0 url("../img/pattern-white.png") repeat;
}

.big-heading::after {
	content: "";
	position: relative;
	top: -25px;
	z-index: 1; 

	display: block;

	border-bottom: 2px solid #000;
}

.custom-list-1 {
	margin: 14px 0;
	padding: 0;

	list-style: none;
}

.custom-list-1 li {
	position: relative;

	margin-bottom: 15px;
	padding-left: 20px;
}

.custom-list-1 li::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;

	width: 8px;
	height: 8px;

	background-color: #000;
	transform: rotate(45deg);
}

.prices-table {
	width: 100%;
}

.prices-table td {
	width: 50%;
}

.prices-table td:last-child {
	text-align: center;
}

.short-text {
	padding-right: 80px;
}

/*колонки для контента*/
.inner-columns {
	margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
	width: 460px;
}

.inner-column-left {
	float: left;
}

.inner-column-right {
	float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
	margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
	margin-bottom: 0;
}

/*для магазина:*/
.inner-content .shop {
	margin-bottom: 50px;
}
.shop-content {
	margin-bottom: 50px;
}

.shop-left-col {
	margin: 0 0;
	margin-right: 20px;
	width: 220px;
	float: left;
	/*background-color: rgba(100, 50, 100, 0.2);*/
}

.shop-right-col {
	margin: 0 0;
	width: 700px;
	float: left;
	/*background-color: rgba(200, 50, 100, 0.2);*/
	font-size: 0;
}

.shop-left-col *:first-child,
.shop-right-col *:first-child {
	margin-top: 0;
}

.brand-select {
	list-style: none;
	padding: 0;
	margin-bottom: 50px;
}

.brand-select li {
	margin-bottom: 17px;
}

h2.selected-item-h {
	margin-top: 0;
}

p.selected-item-area {
	margin-bottom: 130px;
	visibility: hidden;
}

.btn-show {
	/*width: 110px;*/
	padding: 14px 33px; 
}

.item-for-sale {
	width: 220px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px; 
	background-color: #fff;

	font-size: 14px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.item-for-sale:nth-child(3n) {
	margin-right: 0;
}

.item-for-sale img {
	vertical-align: middle;
	
}

.item-for-sale p{
	line-height: 18px;

	margin: 0;
	margin-left: 16px;
	margin-right: 16px;
}

p.category {
	text-transform: none;
	margin-top: 14px;
	/*background-color: rgba(300, 200, 10, 0.2);*/
}

p.brand {
	margin-bottom: 14px;
	/*background-color: rgba(300, 200, 10, 0.2);*/
}

.price-tag {
	width: 188px;
	/*position: relative;*/
	/*margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 16px;*/
	margin: 16px auto;
	margin-top: 0;
	background-color: #e5e5e5;

}

.price-holder {
	display: inline-block;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	/*background-color: rgba(300, 150, 10, 0.2);*/
	width: 106px;
}

.price-numb {
	
}

.price-btn {
	float: right;
	margin-right: 0;
	padding: 14px 20px;
}

.page-nav-bottom {
	/*list-style: none;*/
	/*margin: 0;*/
	padding: 0;
	margin-left: 0px;
	margin-top: 25px;
}

.page-nav-bottom li {
	display: inline-block;
}

.btn-page-nav {
	padding: 10px 20px;
	margin-right: 8px;
}

.btn-page-nav-act {
	padding: 10px 20px;
	margin-right: 8px;
	color: #000;
	background-color: #fff;
}


.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;

	color: #fff;
	background: #252525 url("../img/pattern-black.png");
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-contacts a {
	color: #fff;
}

.footer-contacts a:hover {
	text-decoration: none;
}

.footer-social {
	float: left;
	width: 180px;

	text-align: center;
}


.footer-copyright {
	float: right;
	max-width: 180px;
}

.footer-social p{
	margin: 0;
	margin-bottom: 15px;
}

.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;

	font-size: 0;
	vertical-align: top;
	text-decoration: none;

	background: url("../img/sprite2.png") no-repeat center;

	transition: 
		background-position 0.5s,
		background-color 0.5s;
}

.social-btn:hover {
	background-color: #fff;
}

.social-btn-vk {
	background-position: 7px 13px;
}

.social-btn-fb {
	background-position: 15px -253px;
}

.social-btn-inst {
	background-position: 12px -62px;
}

.social-btn-inst:hover {
	background-position: 12px -103px;
}

.social-btn-vk:hover {
	background-position: 7px -23px;;
}

.social-btn-fb:hover {
	background-position: 15px -295px;;
}

.footer-copyright p{
	margin: 0;
	margin-bottom: 15px;

	text-align: center;
}

.footer-copyright .btn {
	margin-right: 0;
}

.footer-copyright .btn:hover {
	color: #000;

	background-color: #fff;
}

/*всплывающая форма*/
.modal-content {
	position: fixed;
	top: 120px;
	left: 50%;
	z-index: 30;

	display: none;
	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;

	color: #000;

	background: #f8f3f0 url("../img/pattern-white.png");

	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-show {
	display: block;
}

.modal-content-map {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;

	display: none;
	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;

	background: #e9e5dc url("../img/map.png");
	border: 7px solid white;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	display: none;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);
}

.modal-overlay-show {
	display: block;
}

.modal-content-close {
	position: absolute;
	top: 0;
	right: -34px;

	width: 22px;
	height: 22px;

	font-size: 0;

	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;

	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.modal-content h2 {
	margin: 0;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 42px;
}

.modal-content p {
	margin: 0;
	margin-bottom: 14px;
}

.modal-content .login-form {
	margin-top: 30px;
	margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	width: 236px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;


	font-size: 14px;
	line-height: 24px;
	font-family: PT Sans Narrow, sans-serif;
	color: #000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-form input.icon-user {
	background-image: url("../img/sprite2.png");
	background-repeat: no-repeat;
	/*background-color: red;*/	
	background-position: 100% -175px;
}

.login-form input.icon-password {
	background-image: url("../img/sprite2.png");
	background-repeat: no-repeat;
	background-position: 100% -212px;
}

.login-form .restore {
	float: right;
	color: #000;
}

.login-form .btn {
	width: 100%;
	margin-top: 15px;
}


.custom-checkbox input[type="checkbox"] {
	display: none;
}

.custom-checkbox {
	position: relative;

	padding-left: 30px;
	cursor: pointer;
}

.custom-checkbox:hover {
	color: #663d15;
} 

.custom-checkbox input[type="checkbox"] +
	.checkbox-indicator {
	position: absolute;
	top: -3px;
	left: 0;

	width: 17px;
	height: 17px;

	border: 2px solid #000;
}

.custom-checkbox input[type="checkbox"]:checked +
	.checkbox-indicator::before,
.custom-checkbox input[type="checkbox"]:checked +
	.checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;

	width: 15px;
	height: 2px;

	background-color: #000;
}

.custom-checkbox input[type="checkbox"]:checked +
	.checkbox-indicator::before {
	transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked +
	.checkbox-indicator::after {
	transform: rotate(-45deg);
}

@keyframes bounce {
	0% { transform: translateY(-2000px); }
	70% { transform: translateY(30px); }
	90% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}

.modal-content-show {
	display: block;
	animation: bounce 0.6s;
}

@keyframes shake {
	0%, 100%,               {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90%	{transform: translateX(-10px);}
	20%, 40%, 60%, 80%		{transform: translateX(10px);}
}

.modal-error {
	animation: shake 0.6s;
}

 /*страница авторизации (на случай отказа js)*/
 .inner-content-login {
	width: 300px;
	margin: 0 auto;
}
